<div class="alert" onload="hideAlertPartial()">
  <%= audio_tag("imagery_the_forest.mp3", class: "audio-play") %>

  <h1>Alert</h1>
  <p>Alert Message!</p>

  <button onclick="callCareGiver()" type="button">Call</button>
</div>
